@page "/director/main"

@using EducationClubs.ScaffoldedModels;
@using System.Globalization;
@inject EducationClubContext EducationClubContext

<MudPaper>
    <MudAppBar Style="margin-top: 2%; background-color: white; display: block; width: 90%; left: 50%; transform: translate(-50%, 0);  box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; align-items: center; border-radius: 10px">
        <MudButton Href="/director/main">
            Главная страница
        </MudButton>
        <MudButton Href="/director/tutors">
            Преподаватели
        </MudButton>
        <MudButton Href="/director/clubs">
            Кружки
        </MudButton>
        <MudButton Href="/director/students">
            Ученики
        </MudButton>
    </MudAppBar>
    <MudPaper Style="display: flex; position: absolute; left:15%; top: 15%; align-self: center; width: 70%; height: 10%; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; align-items: center; justify-content: right">
        <MudDatePicker Style="width: 25%; margin: 8px; " Editable="true" Date="date" ImmediateText="true" Placeholder="день.месяц.год" DateFormat="@dateFormat" TextChanged="DatePickerTextChanged" Clearable="true" />
        <div style=" margin: 5px; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; padding: 8px">
            <div>
                Учителя
            </div>
            <div style="text-align:center; ">
                <label style="color: rgba(118, 230, 153, 1)">@tutors</label>
            </div>
        </div>
        <div style=" margin: 5px; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; padding: 8px">
            <div>
                Ученики
            </div>
            <div style="text-align:center; margin-right: 5px">
                <label style="color: rgba(242, 105, 159, 1)">@students</label>
            </div>
        </div>
        <div style=" margin: 5px; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; padding: 8px">
            <div>
                Кружки
            </div>
            <div style="text-align:center; margin-right: 5px">
                <label style="color: rgba(245, 166, 35, 1)">@classes</label>
            </div>
        </div>
        
    </MudPaper>
    <MudPaper Style="position: absolute; left:15%; top: 28%; align-self: center; width: 70%;  box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; text-align:center">
        <div>
            <MudText style="font-size: 24px">Сегодняшняя посещаемость кружков</MudText>
            <MudChart ChartType="ChartType.Donut" LegendPosition="Position.Bottom" Width="400px" Height="400px"
                      InputData="@data" InputLabels="@labels">
            </MudChart>
        </div>
    </MudPaper>
</MudPaper>

@code {
    private IEnumerable<Student> ListOfStudents = new List<Student>();
    private int students;
    private IEnumerable<AdditionalClass> ListOfClasses = new List<AdditionalClass>();
    private int classes;
    private IEnumerable<Tutor> ListOfTutors = new List<Tutor>();
    private int tutors;

    DateTime? date = null;
    string dateFormat = "dd.MM.yyyy";

    public List<int> dataList = new List<int>();
    public List<string> labelsList = new List<string>();
    public string[] labels = new string[] { };
    public double[] data = new double[] { };

    protected override void OnInitialized()
    {
        ListOfStudents = EducationClubContext.Students.ToList();
        students = ListOfStudents.Count();
        ListOfClasses = EducationClubContext.AdditionalClasses.ToList();
        classes = ListOfClasses.Count();
        ListOfTutors = EducationClubContext.Tutors.ToList();
        tutors = ListOfTutors.Count();

        UpdateChart();
    }

    private void DatePickerTextChanged(string value)
    {
        if (value == null || value.Length < 6)
        {
            date = null;
        }
        else
        {
            string[] formats = { "ddMMyy", "dd.MM.yyyy", "dd.M.yyyy", "d.MM.yyyy", "d.M.yyyy", "dd.MM.yy", "dd.M.yy", "d.MM.yy", "d.M.yy" };
            if (DateTime.TryParseExact(value, formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime validDate))
            {
                date = validDate;
            }
            else
            {
                date = null;
            }
        }

        UpdateChart();
    }

    private void UpdateChart()
    {
        dataList.Clear();
        labelsList.Clear();

        foreach (var cl in ListOfClasses)
        {
            List<Lesson> lessons = EducationClubContext.Lessons.Where(x => x.AdditionalClassId == cl.Id).ToList();

            if (lessons != null && date != null)
            {
                foreach (var todayLesson in lessons)
                {
                    var lessonDate = Convert.ToDateTime(todayLesson.TimeStart).Day;

                    if (Convert.ToDateTime(date).Day == lessonDate)
                    {
                        int attend = EducationClubContext.Attendences.Where(x => x.LessonId == todayLesson.Id).Count();

                        labelsList.Add(EducationClubContext.AdditionalClasses.Where(x => x.Id == todayLesson.AdditionalClassId).FirstOrDefault().Title);
                        dataList.Add(attend);
                    }
                }
            }
        }

        data = dataList.ToArray().Select(Convert.ToDouble).ToArray();
        labels = labelsList.ToArray();
    }
}
