@page "/tutor/profile"

@using EducationClubs.ScaffoldedModels;
@using System.Globalization;
@using System.IO
@using Firebase.Storage
@using Microsoft.EntityFrameworkCore
@inject EducationClubContext EducationClubContext
@inject AppGeneralSettings _appGeneralSettings
@inject FileUploaderService FileUploaderService

<style type="text/css">
    .mainblock {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .camera {
        background-color: #3567bf;
        left: 130px;
        bottom: 50px;
    }
</style>
@if (isHeadermenuInit)
{
    <HeaderMenu imgUrl="@imgUrl"/>
}

@if (_additionalClasses.Count() != 0 && CurrentTutor.Id != 0)
{
    <MudPaper Style="position: absolute; left:15%; top: 20%; width: 70%; height: 70%;  box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; ">
    <div class="mainblock"> 
        <div style="flex: 50%; text-align: center;">
            @if (!string.IsNullOrEmpty(imgUrl))
            {
                <MudAvatar Style="height:300px; width:300px; font-size:2rem; background-color: white" Image="@imgUrl"></MudAvatar>   
            }
            else
            {
                <MudAvatar Style="height:300px; width:300px; font-size:2rem;" Color="Color.Dark" Image="https://users.cf.talkfusion.com/default-user-profile-image.png"></MudAvatar>   
            }
                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudIconButton HtmlTag="label"
                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                   for="@context" Class="camera">
                        </MudIconButton>
                    </ButtonTemplate>
                </MudFileUpload>
        </div>

        <div style="flex: 50%; margin: 10px">
            <div style="display: inline-flex; ">
                <MudText Style="font-size: 24px; margin: 10px;">Фамилия</MudText>
                    <MudTextField @bind-Value="CurrentTutor.Surname" Variant="Variant.Outlined" Style="border: solid 1px #3567bf; border-radius: 5px; height:30px; margin: 10px 10px 10px 50px;" />
            </div>
            <div style="display: inline-flex;">
                <MudText Style="font-size: 24px; margin: 10px;">Имя</MudText>
                    <MudTextField @bind-Value="CurrentTutor.Name" Variant="Variant.Outlined" Style="border: solid 1px #3567bf; border-radius: 5px; height:30px; margin: 10px 10px 10px 107px;" />
            </div>
            <div style="display: inline-flex;">
                <MudText Style="font-size: 24px; margin: 10px;">Отчество</MudText>
                    <MudTextField @bind-Value="CurrentTutor.Patronymic" Variant="Variant.Outlined" Style="border: solid 1px #3567bf; border-radius: 5px; height:30px; margin: 10px 10px 10px 49px;" />
            </div>
            <div>
                <MudText Style="font-size: 24px; margin: 30px 10px 10px 10px;">Список кружков</MudText>
                <div style="overflow: scroll; height: 100px">
                        <MudTable Items="@_additionalClasses" Hover="true" Style="border: solid 1px #3567bf; border-radius: 5px;">
                        <RowTemplate>
                            <MudTd DataLabel="Title">@context.Title</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            </div>
        </div>
    </div>
</MudPaper>
}


@code {
    private Tutor CurrentTutor { get; set; }
    private IEnumerable<AdditionalClass> _additionalClasses = new List<AdditionalClass>();
    private bool isHeadermenuInit = false;
    private bool isContentInit = false;
    private String? imgUrl = "";

    protected override async Task OnInitializedAsync()
    {
        CurrentTutor = _appGeneralSettings.AuthTutor;
        await GetAdditionalClass();
        imgUrl =  await FileUploaderService.GetImage(Folder.TUTOR, CurrentTutor.Id.ToString());
        isHeadermenuInit = true;
    }
    
    private async Task UploadFiles(IBrowserFile file)
    {
        await FileUploaderService.Upload(Folder.TUTOR, CurrentTutor.Id.ToString(), file);
        imgUrl =  await FileUploaderService.GetImage(Folder.TUTOR, CurrentTutor.Id.ToString());
        StateHasChanged();
    }

    async Task GetAdditionalClass()
    {
        _additionalClasses = await EducationClubContext.AdditionalClasses.Where(xo => xo.TutorId == CurrentTutor.Id).ToListAsync();
    }
}